@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}


header
{
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
border-bottom: 1.5px solid rgba(255,255,255,0.4);
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
}



header h1
{
    position: absolute;
    font-size: 1.1em;
    color: #fbaa24;
}




@media only screen and (max-width: 500px) 
{



.secret 
{
    width: 100%;
    height: 930px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}




.secret h1
{
    position: absolute;
    font-size: 2em;
    color: rgba(255,255,255,0.7);
    margin-top: 5rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h1._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.secret h2
{
    position: absolute;
    font-size: 1em;
    color: rgba(255,255,255,0.7);
    margin-top: 8rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.secret h3
{
    position: absolute;
    font-size: 6em;
    color: rgba(255,255,255,0.8);
    margin-top: 6rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h3._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.secret #box1
{
    position: absolute;
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.3);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    margin-top: 14rem;
    transform: translate(0px, 30%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret #box1._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.secret #box1:hover
{
    box-shadow: 10px 10px 23px rgba(255,255,255,0.4);
    transition: all 1.4s ease 0s;
}





.secret #box1 h2
{
    position: absolute;
    font-size: 1.1em;
    color: #fff;
    margin-top: 2rem;
    padding: 25px;
    line-height: 20px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.secret #box1 h2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}






.secret #box1 p
{
    position: absolute;
    font-size: 0.9em;
    color: #ffa475;
    margin-top: 8rem;
    padding: 35px;
    line-height: 18px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.secret #box1 p._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.secret #box1 a 
{
    position: absolute;
    padding: 13px 45px;
    background: #fff;
    color: #2b5876;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 15rem;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 3s ease 0s;
}


.secret #box1 a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.secret .community
{
    display: flex;
    justify-content: center;
    margin-top: 38.5rem;
}



.secret .community img 
{
    position: absolute;
    width: 230px;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1s ease 0s;
}


.secret .community img._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}






.secret .chat
{
    display: flex;
    justify-content: center;
    margin-top: 51rem;
}



.secret .chat a 
{
    position: absolute;
    padding: 11px 40px;
    background: #fff;
    color: #2b5876;
    font-size: 1em;
    border-radius: 10px;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2s ease 0s;
}


.secret .chat a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




/*******About********/


.about 
{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}




.about #box2
{
    position: absolute;
    width: 340px;
    height: 250px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    margin-top: 2rem;
    transform: translate(0px, 30%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.about #box2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.about #box2:hover
{
    box-shadow: 10px 10px 23px rgba(255,255,255,0.4);
    transition: all 1.4s ease 0s;
}




.about #box2 p
{
    position: absolute;
    font-size: 0.9em;
    color: #000;
    margin-top: 2rem;
    padding: 35px;
    line-height: 18px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.about #box2 p._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.about #box2 a 
{
    position: absolute;
    padding: 13px 45px;
    background: #2b5876;
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 10rem;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 3s ease 0s;
}


.about #box2 a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.about h4
{
    position: absolute;
    font-size: 2em;
    margin-top: 23rem;
}




.about h5
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 29.5rem;
    color: #fff;
}





/*******Zone********/


.zone 
{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}





.zone h2
{
    position: absolute;
    font-size: 1.3em;
    margin-top: 0.45rem;
}


.zone .head
{
    position: absolute;
    font-size: 1.1em;
    margin-top: 2.2rem;
    color: orange;
}



.zone marquee
{
    position: absolute;
    background: rgba(255,255,255,0.0);
    margin-top: 4.5rem;
}



.zone marquee .marq 
{
    font-size: 1em;
    color: rgba(255,255,255,0.8);
}





.zone .box4
{
    position: absolute;
    width: 300px;
    height: 165px;
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 8px 8px 16px rgba(255,255,255,0.6);
    border-radius: 10px;
    margin-top: 8rem;
}







.zone .box4 h2
{
    position: absolute;
    font-size: 1.2em;
    margin-top: rem;
    color: orange;
    padding: 30px;
    line-height: 18px;
}




.zone .box4 h3
{
    position: absolute;
    font-size: 1em;
    margin-top: 8rem;
    color: #666;
    left: 65%;
}



.zone h1
{
    position: absolute;
    font-size: 1.5em;
    color: silver;
    margin-top: 21rem;
}





.zone .tab {
    position: absolute;
    width: 353px;
    display: flex;
  overflow: hidden;
  border: none;
  background-color: rgba(255,255,255,0.4);
  margin-top: 25rem;
  border-radius: 10px;
}

/* Style the buttons inside the tab */
.zone .tab button {
  background: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  transition: 0.3s;
  font-size: 0.7em;
  color: #444;
}



.zone .tab button spanA 
{
    color: red;
}




.zone .tab button spanB
{
    color: #ff58ba;
}


.zone .tab button spanC
{
    color: #27b60c;
}


.zone .tab button spanD
{
    color: #272fb3;
}


.zone .tab button spanE
{
    color: gold;
}




.zone .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.zone .tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.zone .tabcontent {
    position: absolute;
  display: none;
  width: 100%;
  background: rgba(255,255,255,0.2);
  padding: 6px 12px;
  border-top: none;
  margin-top: 28.5rem;
}



.zone .tabcontent h3
{
    color: orange;
}


.zone .tabcontent p 
{
    font-size: 0.8em;
    padding: 7px 0px;
    color: #fff;
}





.zone .unown
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 47rem;
}



.zone .unown img 
{
    width: 100px;
    border-radius: 50%;
}




.zone .un 
{
    position: absolute;
    font-size: 2.3em;
    margin-top: 54rem;
}


.zone .uno
{
    position: absolute;
    font-size: 2.3em;
    margin-top: 56rem;
}





.zone .motivation
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 60rem;
    padding: 15px;
    line-height: 19px;
}




.zone a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #272fb3;
    border-radius: 10px;
    margin-top: 67rem;
}




.zone .down 
{
    position: absolute;
    font-size: 0.8em;
    color: rgba(255,255,255,0.8);
    margin-top: 73rem;
}




/********More*********/


.more 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}



.more h1
{
    position: absolute;
    font-size: 1.5em;
    color: orange;
    margin-top: 0.5rem;
}




.more .mor 
{
    position: absolute;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 8px 8px 16px rgba(255,255,255,0.7);
    border-radius: 15px;
    margin-top: 5rem;
}



.more .mor h2
{
    position: absolute;
    font-size: 0.9em;
    color: #444;
    margin-top: 1rem;
    margin-left: 140px;
    padding: 5px;
    line-height: 16px;
}



.more .mor h3
{
    position: absolute;
    font-size: 1.4em;
    color: #f00;
    margin-top: 6rem;
}



.more .mor p
{
    position: absolute;
    font-size: 1em;
    color: #666;
    margin-top: 9rem;
    margin-left: 20px;
}



.more .mor img 
{
    position: absolute;
    width: 150px;
    margin-top: 18.5rem;
}





.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/********Begin********/


.begin 
{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}



.begin h1
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 11rem;
}




.begin a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #272fb3;
    border-radius: 10px;
    margin-top: 14rem;
}




}


























    


@media only screen and (max-width: 770px) 
{



.secret 
{
    width: 100%;
    height: 930px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}




.secret h1
{
    position: absolute;
    font-size: 2em;
    color: rgba(255,255,255,0.7);
    margin-top: 5rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h1._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.secret h2
{
    position: absolute;
    font-size: 1em;
    color: rgba(255,255,255,0.7);
    margin-top: 8rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.secret h3
{
    position: absolute;
    font-size: 6em;
    color: rgba(255,255,255,0.8);
    margin-top: 6rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h3._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.secret #box1
{
    position: absolute;
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.3);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    margin-top: 14rem;
    transform: translate(0px, 30%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret #box1._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.secret #box1:hover
{
    box-shadow: 10px 10px 23px rgba(255,255,255,0.4);
    transition: all 1.4s ease 0s;
}





.secret #box1 h2
{
    position: absolute;
    font-size: 1.1em;
    color: #fff;
    margin-top: 2rem;
    padding: 25px;
    line-height: 20px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.secret #box1 h2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}






.secret #box1 p
{
    position: absolute;
    font-size: 0.9em;
    color: #ffa475;
    margin-top: 8rem;
    padding: 35px;
    line-height: 18px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.secret #box1 p._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.secret #box1 a 
{
    position: absolute;
    padding: 13px 45px;
    background: #fff;
    color: #2b5876;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 15rem;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 3s ease 0s;
}


.secret #box1 a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.secret .community
{
    display: flex;
    justify-content: center;
    margin-top: 38.5rem;
}



.secret .community img 
{
    position: absolute;
    width: 230px;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1s ease 0s;
}


.secret .community img._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}






.secret .chat
{
    display: flex;
    justify-content: center;
    margin-top: 51rem;
}



.secret .chat a 
{
    position: absolute;
    padding: 11px 40px;
    background: #fff;
    color: #2b5876;
    font-size: 1em;
    border-radius: 10px;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2s ease 0s;
}


.secret .chat a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




/*******About********/


.about 
{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}




.about #box2
{
    position: absolute;
    width: 340px;
    height: 250px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    margin-top: 2rem;
    transform: translate(0px, 30%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.about #box2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.about #box2:hover
{
    box-shadow: 10px 10px 23px rgba(255,255,255,0.4);
    transition: all 1.4s ease 0s;
}




.about #box2 p
{
    position: absolute;
    font-size: 0.9em;
    color: #000;
    margin-top: 2rem;
    padding: 35px;
    line-height: 18px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.about #box2 p._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.about #box2 a 
{
    position: absolute;
    padding: 13px 45px;
    background: #2b5876;
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 10rem;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 3s ease 0s;
}


.about #box2 a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.about h4
{
    position: absolute;
    font-size: 2em;
    margin-top: 23rem;
}




.about h5
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 29.5rem;
    color: #fff;
}





/*******Zone********/


.zone 
{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}





.zone h2
{
    position: absolute;
    font-size: 1.3em;
    margin-top: 0.45rem;
}


.zone .head
{
    position: absolute;
    font-size: 1.1em;
    margin-top: 2.2rem;
    color: orange;
}



.zone marquee
{
    position: absolute;
    background: rgba(255,255,255,0.0);
    margin-top: 4.5rem;
}



.zone marquee .marq 
{
    font-size: 1em;
    color: rgba(255,255,255,0.8);
}





.zone .box4
{
    position: absolute;
    width: 300px;
    height: 165px;
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 8px 8px 16px rgba(255,255,255,0.6);
    border-radius: 10px;
    margin-top: 8rem;
}







.zone .box4 h2
{
    position: absolute;
    font-size: 1.2em;
    margin-top: rem;
    color: orange;
    padding: 30px;
    line-height: 18px;
}




.zone .box4 h3
{
    position: absolute;
    font-size: 1em;
    margin-top: 8rem;
    color: #666;
    left: 65%;
}



.zone h1
{
    position: absolute;
    font-size: 1.5em;
    color: silver;
    margin-top: 21rem;
}





.zone .tab {
    position: absolute;
    width: 353px;
    display: flex;
  overflow: hidden;
  border: none;
  background-color: rgba(255,255,255,0.4);
  margin-top: 25rem;
  border-radius: 10px;
}

/* Style the buttons inside the tab */
.zone .tab button {
  background: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  transition: 0.3s;
  font-size: 0.7em;
  color: #444;
}



.zone .tab button spanA 
{
    color: red;
}




.zone .tab button spanB
{
    color: #ff58ba;
}


.zone .tab button spanC
{
    color: #27b60c;
}


.zone .tab button spanD
{
    color: #272fb3;
}


.zone .tab button spanE
{
    color: gold;
}




.zone .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.zone .tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.zone .tabcontent {
    position: absolute;
  display: none;
  width: 100%;
  background: rgba(255,255,255,0.2);
  padding: 6px 12px;
  border-top: none;
  margin-top: 28.5rem;
}



.zone .tabcontent h3
{
    color: orange;
}


.zone .tabcontent p 
{
    font-size: 0.8em;
    padding: 7px 0px;
    color: #fff;
}





.zone .unown
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 47rem;
}



.zone .unown img 
{
    width: 100px;
    border-radius: 50%;
}




.zone .un 
{
    position: absolute;
    font-size: 2.3em;
    margin-top: 54rem;
}


.zone .uno
{
    position: absolute;
    font-size: 2.3em;
    margin-top: 56rem;
}





.zone .motivation
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 60rem;
    padding: 15px;
    line-height: 19px;
}




.zone a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #272fb3;
    border-radius: 10px;
    margin-top: 67rem;
}




.zone .down 
{
    position: absolute;
    font-size: 0.8em;
    color: rgba(255,255,255,0.8);
    margin-top: 73rem;
}




/********More*********/


.more 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}



.more h1
{
    position: absolute;
    font-size: 1.5em;
    color: orange;
    margin-top: 0.5rem;
}




.more .mor 
{
    position: absolute;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 8px 8px 16px rgba(255,255,255,0.7);
    border-radius: 15px;
    margin-top: 5rem;
}



.more .mor h2
{
    position: absolute;
    font-size: 0.9em;
    color: #444;
    margin-top: 1rem;
    margin-left: 140px;
    padding: 5px;
    line-height: 16px;
}



.more .mor h3
{
    position: absolute;
    font-size: 1.4em;
    color: #f00;
    margin-top: 6rem;
}



.more .mor p
{
    position: absolute;
    font-size: 1em;
    color: #666;
    margin-top: 9rem;
    margin-left: 20px;
}



.more .mor img 
{
    position: absolute;
    width: 150px;
    margin-top: 18.5rem;
}





.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/********Begin********/


.begin 
{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}



.begin h1
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 11rem;
}




.begin a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #272fb3;
    border-radius: 10px;
    margin-top: 14rem;
}




}















 



@media only screen and (max-width: 2770px) 
{



.secret 
{
    width: 100%;
    height: 930px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}




.secret h1
{
    position: absolute;
    font-size: 2em;
    color: rgba(255,255,255,0.7);
    margin-top: 5rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h1._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.secret h2
{
    position: absolute;
    font-size: 1.2em;
    color: rgba(255,255,255,0.7);
    margin-top: 8rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.secret h3
{
    position: absolute;
    font-size: 6em;
    color: rgba(255,255,255,0.8);
    margin-top: 6rem;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret h3._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.secret #box1
{
    position: absolute;
    width: 300px;
    height: 350px;
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.3);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    margin-top: 14rem;
    transform: translate(0px, 30%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.secret #box1._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.secret #box1:hover
{
    box-shadow: 10px 10px 23px rgba(255,255,255,0.4);
    transition: all 1.4s ease 0s;
}





.secret #box1 h2
{
    position: absolute;
    font-size: 1.1em;
    color: #fff;
    margin-top: 2rem;
    padding: 25px;
    line-height: 20px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.secret #box1 h2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}






.secret #box1 p
{
    position: absolute;
    font-size: 0.9em;
    color: #ffa475;
    margin-top: 8rem;
    padding: 35px;
    line-height: 18px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.secret #box1 p._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.secret #box1 a 
{
    position: absolute;
    padding: 13px 45px;
    background: #fff;
    color: #2b5876;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 15rem;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 3s ease 0s;
}


.secret #box1 a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.secret .community
{
    display: flex;
    justify-content: center;
    margin-top: 38.5rem;
}



.secret .community img 
{
    position: absolute;
    width: 230px;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 1s ease 0s;
}


.secret .community img._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}






.secret .chat
{
    display: flex;
    justify-content: center;
    margin-top: 51rem;
}



.secret .chat a 
{
    position: absolute;
    padding: 11px 40px;
    background: #fff;
    color: #2b5876;
    font-size: 1em;
    border-radius: 10px;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2s ease 0s;
}


.secret .chat a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




/*******About********/


.about 
{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}




.about #box2
{
    position: absolute;
    width: 340px;
    height: 250px;
    display: flex;
    justify-content: center;
    background: #fff;
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.7);
    margin-top: 2rem;
    transform: translate(0px, 30%);
	opacity: 0;
	transition: all 1.4s ease 0s;
}


.about #box2._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}



.about #box2:hover
{
    box-shadow: 10px 10px 23px rgba(255,255,255,0.4);
    transition: all 1.4s ease 0s;
}




.about #box2 p
{
    position: absolute;
    font-size: 0.9em;
    color: #000;
    margin-top: 2rem;
    padding: 35px;
    line-height: 18px;
    
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 2.5s ease 0s;
}


.about #box2 p._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}




.about #box2 a 
{
    position: absolute;
    padding: 13px 45px;
    background: #2b5876;
    color: #fff;
    font-size: 1.1em;
    border-radius: 10px;
    margin-top: 10rem;
    transform: translate(0px, 50%);
	opacity: 0;
	transition: all 3s ease 0s;
}


.about #box2 a._active
{
	transform: translate(0px, 0px);
	opacity: 1;
}





.about h4
{
    position: absolute;
    font-size: 2em;
    margin-top: 23rem;
}




.about h5
{
    position: absolute;
    font-size: 0.8em;
    margin-top: 29.5rem;
    color: #fff;
}





/*******Zone********/


.zone 
{
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}





.zone h2
{
    position: absolute;
    font-size: 1.3em;
    margin-top: 0.45rem;
}


.zone .head
{
    position: absolute;
    font-size: 1.1em;
    margin-top: 2.2rem;
    color: orange;
}



.zone marquee
{
    position: absolute;
    background: rgba(255,255,255,0.0);
    margin-top: 4.5rem;
}



.zone marquee .marq 
{
    font-size: 1em;
    color: rgba(255,255,255,0.8);
}





.zone .box4
{
    position: absolute;
    width: 300px;
    height: 165px;
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 8px 8px 16px rgba(255,255,255,0.6);
    border-radius: 10px;
    margin-top: 8rem;
}







.zone .box4 h2
{
    position: absolute;
    font-size: 1.2em;
    margin-top: rem;
    color: orange;
    padding: 30px;
    line-height: 18px;
}




.zone .box4 h3
{
    position: absolute;
    font-size: 1em;
    margin-top: 8rem;
    color: #666;
    left: 65%;
}



.zone h1
{
    position: absolute;
    font-size: 1.5em;
    color: silver;
    margin-top: 21rem;
}





.zone .tab {
    position: absolute;
    width: 353px;
    display: flex;
  overflow: hidden;
  border: none;
  background-color: rgba(255,255,255,0.4);
  margin-top: 25rem;
  border-radius: 10px;
}

/* Style the buttons inside the tab */
.zone .tab button {
  background: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 14px;
  transition: 0.3s;
  font-size: 0.7em;
  color: #444;
}



.zone .tab button spanA 
{
    color: red;
}




.zone .tab button spanB
{
    color: #ff58ba;
}


.zone .tab button spanC
{
    color: #27b60c;
}


.zone .tab button spanD
{
    color: #272fb3;
}


.zone .tab button spanE
{
    color: gold;
}




.zone .tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.zone .tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.zone .tabcontent {
    position: absolute;
  display: none;
  width: 100%;
  background: rgba(255,255,255,0.2);
  padding: 6px 12px;
  border-top: none;
  margin-top: 28.5rem;
}



.zone .tabcontent h3
{
    color: orange;
}


.zone .tabcontent p 
{
    font-size: 0.8em;
    padding: 7px 0px;
    color: #fff;
}





.zone .unown
{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 45rem;
}



.zone .unown img 
{
    width: 100px;
    border-radius: 50%;
}




.zone .un 
{
    position: absolute;
    font-size: 2.3em;
    margin-top: 52rem;
}


.zone .uno
{
    position: absolute;
    font-size: 2.3em;
    margin-top: 54rem;
}





.zone .motivation
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 58rem;
    padding: 15px;
    line-height: 19px;
}




.zone a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #272fb3;
    border-radius: 10px;
    margin-top: 65rem;
}




.zone .down 
{
    position: absolute;
    font-size: 0.8em;
    color: rgba(255,255,255,0.8);
    margin-top: 73rem;
}




/********More*********/


.more 
{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}



.more h1
{
    position: absolute;
    font-size: 1.5em;
    color: orange;
    margin-top: 0.5rem;
}




.more .mor 
{
    position: absolute;
    width: 350px;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #fff;
    box-shadow: 8px 8px 16px rgba(255,255,255,0.7);
    border-radius: 15px;
    margin-top: 5rem;
}



.more .mor h2
{
    position: absolute;
    font-size: 0.9em;
    color: #444;
    margin-top: 1rem;
    margin-left: 140px;
    padding: 5px;
    line-height: 16px;
}



.more .mor h3
{
    position: absolute;
    font-size: 1.4em;
    color: #f00;
    margin-top: 6rem;
}



.more .mor p
{
    position: absolute;
    font-size: 1em;
    color: #666;
    margin-top: 9rem;
    margin-left: 20px;
}



.more .mor img 
{
    position: absolute;
    width: 150px;
    margin-top: 18.5rem;
}





.more h5
{
    position: absolute;
    font-size: 0.8em;
    color: #fff;
    margin-top: 45rem;
}





/********Begin********/


.begin 
{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    background: #2b5876;
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
background: linear-gradient(to right, #4e4376, #2b5876);
}



.begin h1
{
    position: absolute;
    font-size: 1em;
    color: #fff;
    margin-top: 11rem;
}




.begin a 
{
    position: absolute;
    padding: 13px 45px;
    font-size: 1.1em;
    background: #fff;
    color: #272fb3;
    border-radius: 10px;
    margin-top: 14rem;
}




}
